.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    font-size: 26px;
    justify-content: center;
    font-weight: normal;
    margin: 0;

}

.inputTodo {
    border-radius: 4px;
    padding: 8px 12px;
    border: 2px solid darkslategrey;
}

.buttonAdd {
    background-color: darkslategrey;
    border-radius: 4px;
    color: white;
    padding: 6px 10px;
    border: 2px solid transparent;
    font-family: "Roboto Light", serif;
    font-weight: lighter;
    cursor: pointer;
}